*{
    margin:0;
    padding: 0;
}
/*NAVBAR*/
#wrapper{
    width: auto;
    margin: auto;
    background-color: rgb(16 37 66);
    padding: 20px;
}

#navbar{
    padding: 20px;
    background-color: rgb(200 186 155);
    margin-bottom: 20px;
}

#name{
    color: black;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navbar, ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

ul{
    flex: 5;
}

li{
    list-style: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.redirect{
    text-decoration: none;
    color: rgb(20, 20, 85);
}

/*MAIN CONTENT*/
#main{
    padding: 20px;
    background-color: rgb(200 186 155);
}
#main, img{
    width: 98.5%;
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(20, 20, 85);
}

/*CONTENT*/

#content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.heading{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* GOODS */

#goods{
    height: 250px;
    width: 250px;
    margin-right: 25px;
    padding: 15px;
    align-content: center;
    justify-content: center;
    background-color: blanchedalmond;
}

#goods img{
    height: 45px;
    width: 45px;
}

#goods h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(83 82 78);
}

#goods p{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(32, 30, 30);
    padding: 0px 12px 12px 20px;
    margin-bottom: 20px;
}

#goods button{
    height: 40px;
    width: 100px;
    background-color: #d99b5a;
    border-radius: 7px;
    color:rgb(83 82 78);
    font-size: 15px;
    margin-left: 15px;
}

/* REVIEWS */

#reviews{
    height: 250px;
    width: 250px;
    margin-right: 25px;
    padding: 15px;
    align-content: center;
    justify-content: center;
    background-color: blanchedalmond;
}

#reviews img{
    height: 45px;
    width: 45px;
}

#reviews h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(83 82 78);
}

#reviews p{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(32, 30, 30);
    padding: 0px 12px 12px 20px;
    margin-bottom: 20px;
}

#reviews button{
    height: 40px;
    width: 100px;
    background-color: #d99b5a;
    border-radius: 7px;
    color:rgb(83 82 78);
    font-size: 15px;
    margin-left: 15px;
}

/* EVENTS */

#events{
    height: 250px;
    width: 250px;
    margin-right: 25px;
    padding: 15px;
    align-content: center;
    justify-content: center;
    background-color: blanchedalmond;
}

#events img{
    height: 45px;
    width: 45px;
}

#events h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(83 82 78);
}

#events p{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(32, 30, 30);
    padding: 0px 12px 12px 20px;
    margin-bottom: 20px;
}

#events button{
    height: 40px;
    width: 100px;
    background-color: #d99b5a;
    border-radius: 7px;
    color:rgb(83 82 78);
    font-size: 15px;
    margin-left: 15px;
}

/*SUBCONTENT */

#about{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
}

#about img{
    border-radius: 250px;
    padding-right: 10px;
    height: 350px;
    width: 350px;
}

#about_title{
    color: black;
}

#about h3{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 50px;
    padding-right: 20px;
}

#mission_statement{
    padding-left: 20px;
}

#mission_statement p{
    font-size: 25px;
    font-style: italic;
    margin-top: 160px;
    /* background-color: whitesmoke; */
    color: black;
}

#footer{
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(200 186 155);
    border-radius: 5px;
}



